h1 {
  font-family: Helvetica, sans-serif;
  margin-bottom: -15px;

}
h2 {
  font-family: Helvetica, sans-serif;
}
header, nav{
  color:white;
  background-color: palevioletred;
  padding-bottom: 40px;
}
body {
  font-size: 22px;
  line-height: 33px;
}

.landing-selection-whoami {
  padding-top: 50px;
}